
.btn {
    display: inline-block;
    cursor: pointer;
    padding: .6rem 1rem;
    @include transition(all $transitionSpeed);

    &:hover {
        zoom: 1;
        filter: alpha(opacity=70);
        opacity: 0.7;
    }

}

.btn-borde {
    border: 1px solid $color-violeta;
}

.btn-violeta {
    background-color: $color-violeta;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
}

.btn-verde {
    background-color: $color-verde;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
}

.btn-rojo {
    background-color: $color-rojo;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
}

.btn-naranja {
    background-color: $color-naranja;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
}

.btn-turqueza {
    background-color: $color-turqueza;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
}



//navegación carousel
.owl-carousel {
    position: relative;
    .owl-nav {

        .icon-arrow {
            position: absolute;
            display: block;
            width: 40px;
            height: 40px;
            top: 50%;
            @include transform(translateY(-50%));
        }

        .icon-arrow-left {
            background-image: url(assets/images/icon-arrow-left.png);
            background-size: 40px 40px;
            background-repeat: no-repeat;
            @include transition(all $transitionSpeed);
            left: -5%;

            @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
                background-image: url(assets/images/icon-arrow-left@2x.png);
                background-size: 40px 40px;
            }

            &:hover {
                zoom: 1;
                filter: alpha(opacity=70);
                opacity: 0.7;
            }
        }

        .icon-arrow-right {
            background-image: url(assets/images/icon-arrow-right.png);
            background-size: 40px 40px;
            background-repeat: no-repeat;
            @include transition(all $transitionSpeed);
            right: -5%;

            @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
                background-image: url(assets/images/icon-arrow-right@2x.png);
                background-size: 40px 40px;
            }

            &:hover {
                zoom: 1;
                filter: alpha(opacity=70);
                opacity: 0.7;
            }
        }

        .icon-arrow-left-d {
            background-image: url(assets/images/icon-arrow-left-d.png);
            background-size: 40px 40px;
            background-repeat: no-repeat;
            @include transition(all $transitionSpeed);
            left: -5%;

            @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
                background-image: url(assets/images/icon-arrow-left-d@2x.png);
                background-size: 40px 40px;
            }

            &:hover {
                zoom: 1;
                filter: alpha(opacity=70);
                opacity: 0.7;
            }
        }

        .icon-arrow-right-d {
            background-image: url(assets/images/icon-arrow-right-d.png);
            background-size: 40px 40px;
            background-repeat: no-repeat;
            @include transition(all $transitionSpeed);
            right: -5%;

            @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
                background-image: url(assets/images/icon-arrow-right-d@2x.png);
                background-size: 40px 40px;
            }

            &:hover {
                zoom: 1;
                filter: alpha(opacity=70);
                opacity: 0.7;
            }
        }
    }
}//.owl-carousel