.uk-front-page-wrapper {
    color: $color-texto;
    font-size: 1rem;

    /*
     * HEADER DEL HOME
    */
    .front-page-header {

        .front-page-title-header {
            font-size: 1.5rem;
            line-height: 2rem;
            text-transform: uppercase;
            margin-top: 3rem;
            margin-bottom: 3rem;
            text-align: center;
            @media (min-width: $sm) {
                font-size: 2.8rem;
                line-height: 3rem;
            }
        }

        .slider-wrapper {
            position: relative;
            background-color: $color-negro;
            color: $color-blanco;
            font-weight: 600;
            font-size: 1.1rem;
            
            .slider-item {
                position: relative;
                z-index: 1;
                overflow: hidden;
                height: 480px;
                @media (min-width: $sm) {
                    height: 650px;
                }

                .slider-image {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    img {
                        position: absolute;
                        z-index: 1;
                        top: 50%;
                        @include transform(translateY(-50%));
                        left: 0;
                        width: 100%;
                    }

                    .shutter {
                        display: block;
                        position: absolute;
                        z-index: 11;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(106,107,110,0.7);
                        mix-blend-mode: multiply;

                    }
                }//.slider-image

                .slider-contenido {
                    position: relative;
                    z-index: 2;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    display: -o-flex;
                    display: -ms-flex;
                    display: -moz-flex;
                    display: -webkit-flex;
                    -webkit-align-items: center;
                    -moz-align-items: center;
                    -ms-align-items: center;
                    -o-align-items: center;
                    align-items: center;
                    -webkit-justify-content: center;
                    -moz-justify-content: center;
                    -ms-justify-content: center;
                    -o-justify-content: center;
                    justify-content: center;
                    font-weight: 700;
                    text-align: center;

                    .slider-title {
                        font-size: 1.5rem;
                        line-height: 2rem;
                        text-transform: uppercase;
                        margin-top: .5rem;
                        margin-bottom: 1.5rem;
                        text-align: center;
                        @media (min-width: $sm) {
                            font-size: 2.8rem;
                            line-height: 3rem;
                        }
                    }

                    .slider-text {
                        font-family: $fuente-secundaria;
                        font-weight: 400;
                        font-size: 1.25rem;

                        @extend .title-basic-dash;
                        @extend .title-basic-dash-center;

                    }

                    .slider-button {
                        text-transform: uppercase;
                        margin: 2rem auto .5rem;
                    }

                }//.slider-contenido

            }//.slider-item

            .owl-nav {
                display: none;
                @media (min-width: $xs) {
                    display: block;
                    .icon-arrow-left {
                        left: 5%;
                    }
                    .icon-arrow-right {
                        right: 5%;
                    }
                }

                @media (min-width: $md) {
                    .icon-arrow-left {
                        left: 10%;
                    }
                    .icon-arrow-right {
                        right: 10%;
                    }
                }
            }

        }//.slider-wrapper
    
    }//.front-page-header

    //seccion general del home
    section {
        position: relative;
        padding: 3rem 0;
        clear: both;
        margin: 0;

        .title-section {
            @extend .title-basic-dash;
            @extend .title-basic-dash-center;
            font-family: $fuente-principal;
            font-weight: 500;
            text-transform: uppercase;
            color: $color-texto-negro;
            font-size: 1.5rem;
            line-height: 1.8rem;
            text-align: center;
            @media (min-width: $md) {
                font-size: 1.5rem;
                line-height: 1.5rem;
            }
        }

        .subtitle-section {
            text-align: center;
            font-size: 1rem;
            line-height: 1rem;
            margin-bottom: .8rem;
            @media (min-width: $md) {
                font-size: 1.5rem;
                line-height: 1.5rem;
            }
        }

        .sub-line {
            text-align: center;
            font-family: $fuente-secundaria;
            font-weight: 400;
            width: 100%;
            max-width: 480px;
            margin: 0 auto;
        }

        .section-content {
            position: relative;
            z-index: 2;
            text-align: center;
        }

        .background-section-wrapper {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        
            img {
                position: absolute;
                z-index: 1;
                top: 50%;
                @include transform(translateY(-50%));
                left: 0;
                width: 100%;
            }
        
            .shutter {
                display: block;
                position: absolute;
                z-index: 11;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(106,107,110,0.5);
                mix-blend-mode: multiply;
            }
        }//.background-section-wrapper

    }//section

    .uk-programas {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eae9ea+0,eae9ea+100&0.76+0,1+100 */
        background: -moz-linear-gradient(top, rgba(234,233,234,0.76) 0%, rgba(234,233,234,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(234,233,234,0.76) 0%,rgba(234,233,234,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(234,233,234,0.76) 0%,rgba(234,233,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2eae9ea', endColorstr='#eae9ea',GradientType=0 ); /* IE6-9 */

        .programas-wrapper {
            margin-top: 4rem;
            text-align: center;

            .programas-lista {
                margin-bottom: 3rem;

                li {
                    position: relative;
                    width: 100%;
                }
            }//.programas-lista

            .programa {
                position: relative;
                margin-bottom: 2rem;
                width: 100%;

                @media (min-width: $md) {
                    height: 250px;
                    overflow: hidden;
                }

                .programa-imagen {
                    overflow: hidden;
                    background-color: $color-negro;
                    position: relative;
                    z-index: 1;
                    width: 100%;
                    height: 220px;
                    @media (min-width: $md) {
                        height: 250px;
                        position: absolute;
                        top: 50%;
                        @include transform(translateY(-50%));
                        left: 0%;
                        width: 100%;
                        height: 100%;
                    }

                    img {
                        position: absolute;
                        z-index: 1;
                        top: 50%;
                        @include transform(translate3D(-50%,-50%,0));
                        @include transition(all $transitionSpeed);
                        left: 50%;
                        width: 200%;
                        height: auto;

                        @media (min-width: $md) {
                            top: 50%;
                            left: -10%;
                            width: 110%;    
                            @include transform(translateY(-50%));
                        }
                    }

                    .shutter {
                        display: none;
                        position: absolute;
                        z-index: 11;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(24,189,202,0.7);
                        zoom: 1;
                        @include transition(all $transitionSpeed);
                        
                        
                    }
                }//.programa-imagen

                .programa-contenido {
                    background-color: $color-violeta;
                    color: $color-blanco;
                    width: 100%;
                    text-align: center;
                    padding: 1rem 1rem;
                    top: 0;
                    display: flex;
                    display: -o-flex;
                    display: -ms-flex;
                    display: -moz-flex;
                    display: -webkit-flex;
                    -webkit-align-items: center;
                    -moz-align-items: center;
                    -ms-align-items: center;
                    -o-align-items: center;
                    align-items: center;
                    -webkit-justify-content: flex-start;
                    -moz-justify-content: flex-start;
                    -ms-justify-content: flex-start;
                    -o-justify-content: flex-start;
                    justify-content: flex-start;
                    -webkit-flex-direction: column;
                    -moz-flex-direction: column;
                    -ms-flex-direction: column;
                    -o-flex-direction: column;
                    flex-direction: column;
                    @include transition(all $transitionSpeed);

                    @media (min-width: $md) {
                        background-color: $color-violeta-transparente;
                        position: absolute;
                        left: 0;
                        z-index: 11;
                        padding: 1rem .5rem;
                        height: 100%;
                        @include transform(translateY(80%));
                    }
                    
                    h1 {
                        font-weight: 700;
                        text-transform: uppercase;
                        font-size: 1.3rem;
                        margin-bottom: 1rem;
                        height: 20px;
                        @include transition(all $transitionSpeed);

                        @media (min-width: $md) {
                            font-size: 1.5rem;
                            line-height: 1.2rem;
                        }
                    }

                    p {
                        font-size: .8rem;
                        line-height: 1.2rem;
                        margin-bottom: 1rem;
                        width: 100%;
                        max-width: 400px;
                    }

                    button {
                        font-size: .7rem;
                        border: 1px solid $color-blanco;
                        padding: .5rem .8rem;
                        color: $color-blanco;
                        text-transform: uppercase;
                        @media (min-width: $md) {
                            display: none;
                        }
                    }

                }//.programa-contenido

                &:hover {
                    @media (min-width: $md) {
                        .programa-contenido {
                            @include transform(translateY(0));
                            -webkit-justify-content: flex-end;
                            -moz-justify-content: flex-end;
                            -ms-justify-content: flex-end;
                            -o-justify-content: flex-end;
                            justify-content: flex-end;
                        }
                    }
                }
            }

            .btn-programas {
                color: $color-blanco;
                text-transform: uppercase;
                padding: 1rem 2rem;
            }
        }//.programas-wrapper
    }//.uk-programa

    .uk-destinos {

        .destinos-wrapper {
            margin-top: 4rem;
            margin-bottom: 2rem;
            
            .destinos-lista {
                @media (min-width: $xs) {
                    display: flex;
                    display: -o-flex;
                    display: -ms-flex;
                    display: -moz-flex;
                    display: -webkit-flex;
                    -webkit-align-items: center;
                    -moz-align-items: center;
                    -ms-align-items: center;
                    -o-align-items: center;
                    align-items: center;
                    -webkit-flex-wrap: wrap;
                    -moz-flex-wrap: wrap;
                    -ms-flex-wrap: wrap;
                    -o-flex-wrap: wrap;
                    flex-wrap: wrap;
                }
                li {
                    width: 100%;
                    @media (min-width: $xs) {
                        width: 50%;
                    }
                    @media (min-width: $md) {
                        width: 33.33%;
                    }

                    a {
                        cursor: pointer;
                        display: block;
                    }
                }
            }//.destinos-lista

            //article
            .destino {
                position: relative;
                margin-bottom: 2rem;
                @media (min-width: $xs) {
                    height: 450px;
                    width: 90%;
                }
                @media (min-width: $md) {
                    width: 100%;
                    height: 290px;
                    margin-bottom: 0;
                }
                @media (min-width: $lg) {
                    height: 350px;
                }
                @media (min-width: $xlg) {
                    height: 400px;
                }
                
                .tag-destacado {
                    display: block;
                    background-color: $color-turqueza;
                    color: $color-blanco;
                    text-transform: uppercase;
                    position: absolute;
                    z-index: 111;
                    top: -0.7rem;
                    left: 50%;
                    font-size: .8rem;
                    @include transform(translateX(-50%));

                    @media (min-width: $md) {
                        top: .3rem;
                    }

                    a {
                        padding: 0.3rem 0.5rem;
                    }
                }    

                .destino-imagen {
                    overflow: hidden;
                    background-color: $color-negro;
                    position: relative;
                    z-index: 1;
                    width: 100%;
                    height: 250px;
                    @media (min-width: $md) {
                        position: absolute;
                        top: 5%;
                        left: 5%;
                        width: 90%;
                        height: 90%;
                    }

                    img {
                        position: absolute;
                        z-index: 1;
                        top: 50%;
                        @include transform(translateY(-50%));
                        @include transition(all $transitionSpeed);
                        left: -50%;
                        width: 200%;
                        height: auto;
                    }

                    .shutter {
                        display: none;
                        position: absolute;
                        z-index: 11;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(24,189,202,0.7);
                        zoom: 1;
                        @include transition(all $transitionSpeed);
                        @media (min-width: $md) {
                            display: block;
                            background-color: $color-turqueza;
                            filter: alpha(opacity=0);
                            opacity: 0;
                        }
                        
                    }
                }//.destino-imagen

                .destino-contenido {
                    z-index: 11;
                    padding: 1rem 1rem;
                    text-align: center;
                    position: relative;
                    color: $color-texto-negro;
                    background-color: $color-fondo-gris-claro;
                    display: flex;
                    display: -o-flex;
                    display: -ms-flex;
                    display: -moz-flex;
                    display: -webkit-flex;
                    -webkit-flex-direction: column;
                    -moz-flex-direction: column;
                    -ms-flex-direction: column;
                    -o-flex-direction: column;
                    flex-direction: column;
                    -webkit-align-items: center;
                    -moz-align-items: center;
                    -ms-align-items: center;
                    -o-align-items: center;
                    align-items: center;
                    -webkit-justify-content: flex-end;
                    -moz-justify-content: flex-end;
                    -ms-justify-content: flex-end;
                    -o-justify-content: center;
                    justify-content: flex-end;
                    @include transition(all $transitionSpeed);
                    
                    @media (min-width: $md) {
                        padding: .2rem 1rem;
                        color: $color-blanco;
                        background-color: transparent;
                        visibility: hidden;
                        @include transform(translateY(50%));
                        position: absolute;
                        width: 90%;
                        bottom: 5%;
                        left: 5%;
                    }

                    h1 {
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 1.3rem;
                        margin-bottom: .2rem;
                        width: 100%;
                    }
                    p {
                        font-size: .8rem;
                        line-height: 1rem;
                        margin-bottom: 1rem;
                        width: 100%;
                    }

                    button {
                        color: $color-blanco;
                        font-size: .7rem;
                        @media (min-width: $md) {
                            display: none;
                        }
                    }
                }//.destino-contenido
                
                //article hover (destino)
                &:hover {
                    @media (min-width: $md) {

                        .destino-imagen {
                            img {
                                @include transform(translateY(-50%) scale(1.2));
                            }
                            .shutter {
                                zoom: 1;
                                filter: alpha(opacity=70);
                                opacity: 0.7;
                            }
                        }

                        .destino-contenido {
                            visibility: visible;
                            @include transform(translateY(0));
                        }
                    }
                }

            }//.destino

            
        }//.destinos-wrapper

    }//.uk-destinos

    .uk-arma-viaje {
        position: relative;
        background-color: $color-negro;
        color: $color-blanco;
        overflow: hidden;
        min-height: 150px;
        padding: 4rem 0;

        .title-section {
            color: $color-blanco;
            font-weight: 700;
        }

        a {
            margin-top: 3rem;
            @media (min-width: $md) {
                margin-top: 12rem;
            }
        }
    }

    .uk-cursos {
        .cursos-wrapper {
            margin-top: 4rem;
            margin-bottom: 2rem;

            .cursos-lista {
                @media (min-width: $sm) {
                    display: flex;
                    display: -o-flex;
                    display: -ms-flex;
                    display: -moz-flex;
                    display: -webkit-flex;
                    -webkit-align-items: center;
                    -moz-align-items: center;
                    -ms-align-items: center;
                    -o-align-items: center;
                    align-items: center;
                    -webkit-flex-wrap: wrap;
                    -moz-flex-wrap: wrap;
                    -ms-flex-wrap: wrap;
                    -o-flex-wrap: wrap;
                    flex-wrap: wrap;
                }
                li {
                    width: 100%;

                    a {
                        cursor: pointer;
                        display: block;
                    }
                }
            }//.cursos-lista

            //article
            .curso {
                position: relative;
                height: 400px;
                @media (min-width: $md) {
                    height: 350px;
                }
                @media (min-width: $lg) {
                    height: 400px;
                }
                @media (min-width: $xlg) {
                    height: 500px;
                }
                
                .tag-destacado {
                    display: block;
                    position: absolute;
                    z-index: 111;
                    left: 50%;
                    @include transform(translateX(-50%));
                    top: .3rem;
                    color: $color-blanco;
                    background-color: $color-violeta;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: .8rem;
                    
                    a {
                        padding: .3rem 1rem;
                    }
                }    

                .curso-imagen {
                    overflow: hidden;
                    background-color: $color-negro;
                    position: absolute;
                    z-index: 1;
                    top: 5%;
                    left: 5%;
                    width: 90%;
                    height: 90%;

                    img {
                        position: absolute;
                        z-index: 1;
                        top: 50%;
                        @include transform(translateY(-50%));
                        @include transition(all $transitionSpeed);
                        left: -25%;
                        width: 150%;
                        height: auto;
                    }

                    .shutter {
                        display: block;
                        position: absolute;
                        z-index: 11;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(106,107,110,0.3);
                        zoom: 1;
                        mix-blend-mode: multiply;
                        @include transition(all $transitionSpeed);
                        @media (min-width: $md) {
                            //background-color: rgb(106,107,110);
                            //filter: alpha(opacity=0);
                            //opacity: 0;
                        }
                        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5b5f62+0,000000+100&0+29,1+100 */
                        background: -moz-linear-gradient(top, rgba(91,95,98,0) 0%, rgba(65,67,70,0) 29%, rgba(0,0,0,0.9) 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(top, rgba(91,95,98,0) 0%,rgba(65,67,70,0) 29%,rgba(0,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to bottom, rgba(91,95,98,0) 0%,rgba(65,67,70,0) 29%,rgba(0,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005b5f62', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
                        
                    }
                }//.curso-imagen

                .curso-contenido {
                    color: $color-blanco;
                    position: absolute;
                    z-index: 11;
                    padding: .2rem 1rem;
                    width: 90%;
                    bottom: 5%;
                    left: 5%;
                    text-align: center;
                    display: flex;
                    display: -o-flex;
                    display: -ms-flex;
                    display: -moz-flex;
                    display: -webkit-flex;
                    -webkit-flex-direction: column;
                    -moz-flex-direction: column;
                    -ms-flex-direction: column;
                    -o-flex-direction: column;
                    flex-direction: column;
                    -webkit-align-items: center;
                    -moz-align-items: center;
                    -ms-align-items: center;
                    -o-align-items: center;
                    align-items: center;
                    -webkit-justify-content: flex-end;
                    -moz-justify-content: flex-end;
                    -ms-justify-content: flex-end;
                    -o-justify-content: center;
                    justify-content: flex-end;
                    @include transition(all $transitionSpeed);
                    
                    @media (min-width: $md) {
                        //visibility: hidden;
                        //@include transform(translateY(50%));
                    }

                    h1 {
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 1.1rem;
                        margin-bottom: .5rem;
                        width: 100%;
                    }
                    p {
                        font-size: .8rem;
                        line-height: 1rem;
                        margin-bottom: 1rem;
                        width: 100%;
                    }
                }//.curso-contenido
                
                //article hover (curso)
                &:hover {
                    @media (min-width: $md) {

                        .curso-imagen {
                            img {
                                @include transform(translateY(-50%) scale(1.2));
                            }
                            .shutter {
                                //zoom: 1;
                                //filter: alpha(opacity=70);
                                //opacity: 0.7;
                            }
                        }

                        .curso-contenido {
                            visibility: visible;
                            @include transform(translateY(0));
                        }
                    }
                }

            }//.curso

            

            .owl-nav {
                display: none;
                @media (min-width: $xs) {
                    display: block;
                }
            }

            .owl-dots {
                display: flex;
                display: -o-flex;
                display: -ms-flex;
                display: -moz-flex;
                display: -webkit-flex;
                -webkit-justify-content: center;
                -moz-justify-content: center;
                -ms-justify-content: center;
                -o-justify-content: center;
                justify-content: center;

                @media (min-width: $sm) {
                    display: none;
                }

                .owl-dot {
                    width: 7px;
                    height: 7px;
                    background-color: $color-fondo-gris-claro;
                    border-radius: 50%;
                    margin: 0 2px;
                }

                .owl-dot.active {
                    background-color: $color-fondo-gris-oscuro;
                }
            }
        }//.cursos-wrapper

        .btn-mas-cursos {
            color: $color-blanco;
        }
    }//.uk-cursos

    .uk-alojamiento {
        position: relative;
        background-color: $color-negro;
        color: $color-blanco;
        overflow: hidden;
        min-height: 150px;

        .title-section {
            color: $color-blanco;
            font-weight: 700;
        }

        .sub-line {
            margin-top: 4rem;
            @media (min-width: $md) {
                margin-top: 14rem;
            }
        }
        
        a {
            margin-top: 1rem;
            @media (min-width: $md) {
                margin-top: 2rem;
            }
        }
        
    }//.uk-alojamiento

    .uk-testimonios {
        
        .testimonios-wrapper {
            position: relative;
            font-weight: 400;
            font-family: $fuente-secundaria;
            font-size: 1rem;
            margin: 2rem auto 2rem;
            width: 100%;
            max-width: 850px;

            @media (min-width: $md) {
                margin-top: 5rem;
            }

            .testimonio-item {
                text-align: center;
                    
                .testimonio-nombre {
                    color: $color-turqueza;
                    display: flex;
                    display: -o-flex;
                    display: -ms-flex;
                    display: -moz-flex;
                    display: -webkit-flex;
                    -webkit-align-items: center;
                    -moz-align-items: center;
                    -ms-align-items: center;
                    -o-align-items: center;
                    align-items: center;
                    -webkit-justify-content: center;
                    -moz-justify-content: center;
                    -ms-justify-content: center;
                    -o-justify-content: center;
                    justify-content: center;
                    font-size: 1rem;
                    font-weight: 600;
                    margin-top: .8rem;
                    font-family: $fuente-secundaria;

                    h3 {
                        margin-right: 0.5rem;
                    }
                }//.testimonio-nombre
                
                .testimonio-contenido {
                    text-align: center;
                    margin: 0 auto;
                    margin-top: 1.5rem;
                    @media (min-width: $md) {
                        margin-top: .5rem;
                    }

                    p {
                        font-style: italic;
                        width: 90%;
                        margin: 0 auto;

                        @media (min-width: $md) {
                            margin: 0 auto;
                            width: 95%;
                        }

                        &:before {
                            content: '"';
                        }
                        &:after {
                            content: '"';
                        }
                    }
                }//.testimonio-contenido
            }//.testimonio-item
            
            .owl-nav {
                display: none;
                @media (min-width: $xs) {
                    display: block;
                }

                .icon-arrow {
                    @media (min-width: $lg) {
                        top: 30%;
                    }
                }
            }
        }//.testimonios-wrapper


    }//.uk-testimonios

    /*
     * FOOTER DEL HOME
     * en este caso es el formulario de contacto
    */
    .front-page-footer {
        padding: 3rem 0;
        background-color: $color-fondo-gris-claro;
        
        .wrapper-text {
            width: 100%;
            @media (min-width: $md) {
                width: 40%;
            }
        }
        
        .contact-title {
            @extend .title-basic-dash;
            font-family: $fuente-principal;
            font-weight: 500;
            color: $color-texto-negro;
            text-transform: uppercase;
            font-size: 1.5rem;
            line-height: 1.5rem;
            margin-top: 1.6rem;
        }

        .text {
            font-family: $fuente-secundaria;
            font-weight: 400;

            p {
                margin-bottom: .8rem;
            }
        }

        //formulario de contacto inicio (contact form_7)
        .wpcf7 {
            width: 100%;
            @media (min-width: $md) {
                width: 55%;
            }

            form {
                p {
                    position: relative;
                    height: 3.4rem;
                }

                label {
                    position: absolute;
                    width: 100%;
                    &:last-child {
                        position: relative;
                    }
                }

                input, textarea {
                    width: 100%;
                    padding: 1rem .5rem;
                    font-family: $fuente-principal;
                    font-weight: 500;
                    font-size: .7rem;
                    border: none;
                    -webkit-border: none;
                    @include border-radius(0);
                }

                input {
                    height: 2.5rem;
                }

                textarea {
                    height: 7rem;
                    padding: .5rem .5rem;
                }


                input[type="submit"] {
                    margin-top: 6rem;
                    cursor: pointer;
                    width: 10rem;
                    background-color: $color-rojo;
                    border: none;
                    color: $color-blanco;
                    font-family: $fuente-principal;
                    font-size: 1.1rem;
                    text-transform: uppercase;
                    font-weight: 500;
                    line-height: .1rem;
                    @include transition(all $transitionSpeed);

                    &:hover {
                        zoom: 1;
                        filter: alpha(opacity=70);
                        opacity: 0.7;
                      }
                }
            }//form

        }//.wpcf7 

        
    }//.front-page-footer
}//.uk-front-page-wrapper