//wrapper de post en loop
.content-posts-wrapper {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 4rem auto 5rem;

    article {
        background-color: $color-fondo-gris-claro;
        width: 100%;
        margin: 1rem 0;
        @include transition(all $transitionSpeed);
        
        @media (min-width: $sm) {
            width: 45%;
            margin: 1rem 2%;
        }
        @media (min-width: $md) {
            width: 30%;
            margin: 1rem 1%;
        }

        @media (min-width: $xlg) {
            width: 22%;
            margin: 1rem 1%;
        }
    }    


}//.content-posts-wrapper

/*
* este post corresponde al loop y está en el <article> anterior
*/

.post, .cursos, .destinos, .programas {
    position: relative;

    .entry-header {
        .post-thumbnail {
            background-color: $color-fondo-gris-oscuro;
            overflow: hidden;
            position: relative;
            z-index: 11;
            top: 0;
            left: 0;
            width: 100%;
            height: 240px;
            @include transition(all $transitionSpeed);

            @media (min-width: $sm) {
                height: 190px;
            }

            @media (min-width: $lg) {
                height: 240px;
            }

            @media (min-width: $xlg) {
                height: 260px;
            }

            img {
                position: absolute;
                z-index: 1;
                top: 50%;
                height: auto;
                @include transform(translateY(-50%));
                left: -25%;
                width: 150%;
                @include transition(all $transitionSpeed);
            }
        }//.post-thumbnail
        
        .wrapper-title {
            padding: 2rem 1.5rem 0;
            .entry-title {
                color: $color-texto-negro;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 1.2rem;
                @extend .title-basic-dash;
                
            }
        }//.wrapper-title
        
    }//.entry-header

    .entry-content {
        font-family: $fuente-secundaria;
        padding: 0 1.5rem;

        h1, h2, h3, h4 {
            font-weight: 600;
            font-family: $fuente-principal;
            color: $color-texto-negro;
        }

        h1, h2 {
            font-size: 1.2rem;
            line-height: 1.4rem;
            margin: 1rem 0 2rem;
            @media (min-width: $sm) {
                font-size: 1.5rem;
                line-height: 1.5rem; 
            }
            @media (min-width: $md) {
                font-size: 1.5rem;
                line-height: 1.8rem; 
            }
        }

        h3 {
            font-size: 1.1rem;
            line-height: 1.2rem;
            margin: 0.8rem 0 1rem;
            @media (min-width: $sm) {
                font-size: 1.2rem;
                line-height: 1.2rem; 
            }
        }

        h4 {
            font-size: 1rem;
            line-height: 1.2rem;
            margin: 0.8rem 0 1rem;
            @media (min-width: $sm) {
                font-size: 1.1rem;
                line-height: 1.1rem; 
            }
        }

        p {
            font-size: .9rem;
            margin: 1rem 0;
            @media (min-width: $sm) {
                font-size: 1rem;
            }
        }

        ul, ol {
            margin: 1.2rem 0;
            font-size: .9rem;
            padding-left:1rem;
            @media (min-width: $sm) {
                font-size: 1rem;
            }
        }

        li {
            padding-left: .8rem;
            list-style: disc;
        }

        .btn-leer-mas {
            margin: 1rem auto 2rem;
            color: $color-blanco;
            font-size: .8rem;
            text-decoration: none;
        }

        strong {
            font-weight: 700;
        }

        em {
            font-style: italic;
        }

        a {
            text-decoration: underline;
        }

    }//.entry-content

    .tag-destacado {
        display: block;
        background-color: $color-turqueza;
        color: $color-blanco;
        text-transform: uppercase;
        position: absolute;
        z-index: 111;
        top: -.7rem;
        left: 50%;
        font-weight: 700;
        font-size: .8rem;
        @include transform(translateX(-50%));

        a {
            padding: 0.6rem 0.8rem;
        }
    }//.tag-destacado

    &:hover {
        .entry-header {
            .post-thumbnail {
                img {
                    @include transform(translateY(-50%) scale(1.2));
                }
            }//.post-thumbnail:hover
        }
    }

}//.post del loop


/*CORREGIMOS COLORES DE ACUERDO AL POST*/
.programas {
    .tag-destacado {
        background-color: $color-violeta;
    }

    .entry-header {
        .post-thumbnail {
            background-color: $color-turqueza;
        }
        .wrapper-title { 
            .entry-title {
                &:before {
                    background-color: $color-violeta;
                }
            }
        }
    }
}

/*.cursos {
    .tag-destacado {
        background-color: $color-verde;
    }

    .entry-header {
        .post-thumbnail {
            background-color: $color-violeta;
        }
        .wrapper-title { 
            .entry-title {
                &:before {
                    background-color: $color-verde;
                }
            }
        }
    }
}*/

.destinos {
    .tag-destacado {
        background-color: $color-turqueza;
    }

    .entry-header {
        .post-thumbnail {
            background-color: $color-violeta;
        }
    }
}


/*
* este post corresponde al single y está en <main>
*/
.post, .cursos, .destinos {
    //wrapper de post single con sidebar
    .wrapper-single-post-w-sidebar {
        width: 100%;

        @media (min-width: $md) {
            width: 70%;
            padding-right: 10%;
        }
        @media (min-width: $xlg) {
            width: 80%;
        }

        .meta-resumen-single-post-wrapper {
            position: relative;

            @media (min-width: $sm) {
                margin-top: 0;
                position: absolute;
                width: 100%;
                z-index: 111;
                top: -1.6rem;
            }
            @media (min-width: $md) {
                width: 70%;
                padding-right: 10%;
            }

            .meta-resumen-list {
                color: #5b5f62;
                padding: 0rem .5rem;
                text-transform: uppercase;
                font-size: .7rem;
                line-height: 1rem;
                background-color: $color-fondo-gris-claro;
                display: flex;
                display: -o-flex;
                display: -ms-flex;
                display: -moz-flex;
                display: -webkit-flex;
                -webkit-align-items: flex-start;
                -moz-align-items: flex-start;
                -ms-align-items: flex-start;
                -o-align-items: flex-start;
                align-items: flex-start;
                -webkit-justify-content: space-between;
                -moz-justify-content: space-between;
                -ms-justify-content: space-between;
                -o-justify-content: space-between;
                justify-content: space-between;
                -webkit-flex-direction: column;
                -moz-flex-direction: column;
                -ms-flex-direction: column;
                -o-flex-direction: column;
                flex-direction: column;
                font-weight: 600;

                @media (min-width: $sm) {
                    -webkit-flex-direction: row;
                    -moz-flex-direction: row;
                    -ms-flex-direction: row;
                    -o-flex-direction: row;
                    flex-direction: row;
                    padding: 0rem 1.5rem;
                    font-size: .8rem;
                    line-height: 1.1rem;

                }
                @media (min-width: $md) {
                    padding: 0rem 1.5rem;
                    -webkit-align-items: center;
                    -moz-align-items: center;
                    -ms-align-items: center;
                    -o-align-items: center;
                    align-items: center;
                }

                li {
                    position: relative;
                    padding-left: 1.5rem;
                    padding-right: .5rem;
                    padding-top: .3rem;
                    padding-bottom: .3rem;
                    @media (min-width: $sm) {
                        padding-left: 1.4rem;
                        padding-right: .5rem;
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        
                    }

                    &:first-child {
                        margin-top: .3rem;
                        @media (min-width: $sm) {
                            margin-top: 0;
                        }
                    }

                    &:last-child {
                        margin-bottom: .3rem;
                        @media (min-width: $sm) {
                            margin-bottom: 0;
                        }
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        display: block;
                        width: .8rem;
                        height: .8rem;
                        background-color: $color-turqueza;
                        margin-right: .5rem;
                        top: 50%;
                        @include transform(translateY(-50%));
                    }
                }
            }//..meta-resumen-list
        }//meta-resumen-single-post-wrapper
        
    }//.wrapper-single-post-w-sidebar

    .entry-content-single {
        padding: 1rem 0 2rem;
        @media (min-width: $sm) {
            padding: 3rem 0 2rem;
        }
    }

    /*
    * SINGLE SIDEBAR
    * donde va el formulario de contacto
    */
    .contact-sidebar {
        width: 100%;

        @media (min-width: $md) {
            width: 30%;
        }

        @media (min-width: $xlg) {
            width: 20%;
        }

        .toggle-buton-single-contact {
            color: $color-blanco;
            margin-bottom: 1rem; 

            @media (min-width: $md) {
                display: none;
            }
        }

        .wrapper-contact-form {
            background-color: #dad8d7;
            padding: 0 2rem;
            height: 0;
            overflow: hidden;
            @include transition(all $transitionSpeed);

            @media (min-width: $md) {
                height: initial;
                overflow: visible;
                position: relative;
                top: -1.6rem;
                z-index: 111;
            }

            .widget-title {
                display: none;
                @media (min-width: $md) {
                    display: block;
                    padding-top: 1rem;
                    font-size: 1rem;
                    font-weight: 700;
                }
            }
            
            /*
             * formulario contact form 7
            */
            .wpcf7 {
                width: 100%;
                max-width: 680px;
                margin: 1rem auto 2rem;

                form {
                    p {
                        position: relative;
                        height: 3.4rem;
                    }

                    label {
                        position: absolute;
                        width: 100%;
                        &:last-child {
                            position: relative;
                        }
                    }

                    input, textarea {
                        width: 100%;
                        padding: 1rem .5rem;
                        font-family: $fuente-principal;
                        font-weight: 500;
                        font-size: .7rem;
                        color: $color-texto;
                        background-color: $color-fondo-gris-claro-formulario;
                        border: none;
                        -webkit-border: none;
                        @include border-radius(0);
                    }

                    input {
                        height: 2.5rem;
                    }

                    textarea {
                        height: 7rem;
                        padding: .5rem .5rem;
                    }


                    input[type="submit"] {
                        margin: 6rem auto 1rem;
                        
                        cursor: pointer;
                        width: 10rem;
                        background-color: $color-rojo;
                        border: none;
                        color: $color-blanco;
                        font-family: $fuente-principal;
                        font-size: 1.1rem;
                        text-transform: uppercase;
                        font-weight: 500;
                        line-height: .1rem;
                        @include transition(all $transitionSpeed);

                        &:hover {
                            zoom: 1;
                            filter: alpha(opacity=70);
                            opacity: 0.7;
                        }
                    }
                }//form

            }//.wpcf7 
        }
    }//.contact-sidebar

    /*
     * INFO EXTRA DEL POST
    */
    .extra-single-wrapper {
        padding: 1rem 0;
        margin: 2rem 0;

        @media (min-width: $md) {
            margin: 0;
        }

        .title-section {
            @extend .title-basic-dash;
            text-transform: uppercase;
            font-size: 1.5rem;
            line-height: 1.5rem;
            color: $color-texto-negro;
            font-weight: 700;
        }//.title-section

        .tabs-wrapper {
            margin: 1rem 0 5rem;
            width: 100%;
            @media (min-width: $md) {
                width: 70%;
                padding-right: 10%;
            }

            @media (min-width: $xlg) {
                width: 80%;
            }

            .tabs-lista {
                li { 
                    border-bottom: 1px solid $color-fondo-gris-claro;
                }

                .tab {
                    position: relative;
                    font-size: .9rem;

                    .title-tab {
                        position: relative;
                        cursor: pointer;
                        padding: .3rem 0;
                        text-transform: uppercase;
                        padding-left: 1.5rem;

                        &:before {
                            content: '';
                            position: absolute;
                            width: .2rem;
                            height: .2rem;
                            background-color: $color-fondo-gris-oscuro;
                            left: 0;
                            top: 50%;
                            @include border-radius(50%);
                            @include transform(translateY(-50%))
                        }
                    }
                    .contenido-tab {
                        font-family: $fuente-secundaria;
                        display: block;
                        padding-left: 1.5rem;
                        font-size: .8rem;
                        overflow: hidden;
                        height: 0;
                        @include transition(all $transitionSpeed);
                        p {
                            margin-bottom: .5rem;
                        }

                        a {
                            font-family: $fuente-principal;
                            text-transform: uppercase;
                            margin-bottom: 2rem;
                            color: $color-violeta;
                            font-size: .7rem;
                            padding: .2rem .8rem;
                        }
                    }
                }
            }//.tabs-lista
        }//.tabs-wrapper

        /*
         * carousel
        */
        .carousel-wrapper {
            margin-top: 1rem;
            margin-bottom: 2rem;
            margin-left: -1rem;
            margin-right: -1rem;

            //article
            .item {
                position: relative;
                height: 260px;
                @media (min-width: $sm) {
                    height: 280px;
                }
                @media (min-width: $md) {
                    height: 260px;
                }
                @media (min-width: $lg) {
                    height: 260px;
                }
                @media (min-width: $xlg) {
                    height: 350px;
                }
                
                .tag-destacado {
                    display: block;
                    position: absolute;
                    z-index: 111;
                    left: 50%;
                    @include transform(translateX(-50%));
                    top: .3rem;
                    color: $color-blanco;
                    background-color: $color-turqueza;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: .8rem;
                    
                    a {
                        padding: .3rem 1rem;
                    }
                }    

                .item-imagen {
                    overflow: hidden;
                    background-color: $color-negro;
                    position: absolute;
                    z-index: 1;
                    top: 5%;
                    left: 5%;
                    width: 90%;
                    height: 90%;

                    img {
                        position: absolute;
                        z-index: 1;
                        top: 50%;
                        @include transform(translateY(-50%));
                        @include transition(all $transitionSpeed);
                        left: -50%;
                        width: 200%;
                    }

                    .shutter {
                        display: block;
                        position: absolute;
                        z-index: 11;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(24,189,202,0.7);
                        zoom: 1;
                        opacity: 0;
                        @include transition(all $transitionSpeed);
                        @media (min-width: $md) {
                            background-color: $color-turqueza;
                            filter: alpha(opacity=0);
                            opacity: 0;
                        }
                        
                    }
                }//.item-imagen

                .item-contenido {
                    color: $color-blanco;
                    position: absolute;
                    z-index: 11;
                    padding: .2rem 1rem;
                    width: 90%;
                    bottom: 5%;
                    left: 5%;
                    text-align: center;
                    display: flex;
                    display: -o-flex;
                    display: -ms-flex;
                    display: -moz-flex;
                    display: -webkit-flex;
                    -webkit-flex-direction: column;
                    -moz-flex-direction: column;
                    -ms-flex-direction: column;
                    -o-flex-direction: column;
                    flex-direction: column;
                    -webkit-align-items: center;
                    -moz-align-items: center;
                    -ms-align-items: center;
                    -o-align-items: center;
                    align-items: center;
                    -webkit-justify-content: flex-end;
                    -moz-justify-content: flex-end;
                    -ms-justify-content: flex-end;
                    -o-justify-content: center;
                    justify-content: flex-end;
                    @include transition(all $transitionSpeed);
                    
                    @media (min-width: $md) {
                        visibility: hidden;
                        @include transform(translateY(50%));
                    }

                    h1 {
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 1rem;
                        margin-bottom: .5rem;
                        width: 100%;
                    }
                    p {
                        display: none;
                        font-size: .7rem;
                        line-height: 1rem;
                        margin-bottom: 1rem;
                        width: 100%;
                        @media (min-width: $md) {
                            display: block;
                        }
                    }
                }//.item-contenido
                
                //article hover (destino)
                &:hover {
                    @media (min-width: $md) {

                        .item-imagen {
                            img {
                                @include transform(translateY(-50%) scale(1.2));
                            }

                            .shutter {
                                zoom: 1;
                                filter: alpha(opacity=70);
                                opacity: 0.7;
                            }
                        }

                        .item-contenido {
                            visibility: visible;
                            @include transform(translateY(0));
                        }
                    }
                }

            }//.item


            .owl-nav {
                display: none;
                @media (min-width: $sm) {
                    display: block;
                }
            }
        }//.carousel-wrapper

        .galeria-fotos {
            .item {
                cursor: pointer;
            }
        }

        #galeria-fotos-wrapper {
            display: none;
            .inner-wrapper {
                background-color: $color-fondo-negro-transparente;
                height: 100%;
                width: 100%;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 999;
                display: flex;
                display: -o-flex;
                display: -ms-flex;
                display: -moz-flex;
                display: -webkit-flex;
                -webkit-align-items: center;
                -moz-align-items: center;
                -ms-align-items: center;
                -o-align-items: center;
                align-items: center;
                -webkit-justify-content: center;
                -moz-justify-content: center;
                -ms-justify-content: center;
                -o-justify-content: center;
                justify-content: center;
            }
            

            .contenido-galeria {
                position: relative;
                width: 70%;
                height: 70%;
                max-width: 800px;

                .btn-close-galeria {
                    cursor: pointer;
                    display: block;
                    position: absolute;
                    top: -3rem;
                    right: 0;
                    width: 2.5rem;
                    height: 2.5rem;
                    @include transition(all $transitionSpeed);
                    z-index: 11111;

                    &:hover {
                        zoom: 1;
                        filter: alpha(opacity=70);
                        opacity: 0.7;

                        &::before {
                            background: $color-blanco;
                            @include transform(rotate(-30deg)); 
                        }

                        &::after {
                            background: $color-blanco;
                            @include transform(rotate(30deg)); 
                        }
                    }

                    &::before {
                        content: '';
                        @include transition(all $transitionSpeed);
                        display: block;
                        width: 80%;
                        height: 1px;
                        background: $color-blanco;
                        @include transform(rotate(-45deg));
                    }

                    &::after {
                        content: '';
                        @include transition(all $transitionSpeed);
                        display: block;
                        width: 80%;
                        height: 1px;
                        background: $color-blanco;
                        @include transform(rotate(45deg));
                    }

                }
            }
            
        }//#galeria-fotos-wrapper

    }//.extra-single-wrapper

}//.post
