
@import 'sass/variables';
/*
 * setting page
*/
.uk-settings-page {

    h1 {
        font-size: 2rem;
        margin: 3rem 0 0;
        text-align: center;
        text-transform: uppercase;
    }

    form {
        margin: 3rem 2rem; 
        text-align: center;

        table {
            tr {
                border-bottom: 1px solid #bbb;
            }
        }
        .uk-settings-page-inputs {
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            -webkit-justify-content: flex-start;
            -moz-justify-content: flex-start;
            -ms-justify-content: flex-start;
            -o-justify-content: flex-start;
            justify-content: flex-start;
            margin: .5rem 0;
            
            label {
                text-align: left;
                width: 15%;
            }
            input, textarea {
                text-align: left;
                display: block;
                width: 70%;
            }

            textarea {
                height: 100px;
            }

            input[type=checkbox] {
                width: 1rem;
                height: 1rem;
                margin-top: .1rem;
            }

            .upload-images-btn {
                width: 15%;
            }
        }
    }
}//.uk-settings-page

/*
 * META BOXES
*/
.uk_partner_metabox_wrapper {

    p {
        font-style: italic;
        font-size: 110%;
        margin-bottom: 2rem;
    }
    //secciones
    .uk_partner_metabox_input_data_wrapper {
        .metabox_input_data {
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            -webkit-justify-content: flex-start;
            -moz-justify-content: flex-start;
            -ms-justify-content: flex-start;
            -o-justify-content: flex-start;
            justify-content: flex-start;
            margin: 1rem 0;
            label {
                width: 25%;
                font-weight: bold;
            }
            input, textarea {
                width: 50%;
            }

            input[type=checkbox] {
                width: 1rem;
            }
            button {
                width: 25%;
            }
        }


        .wrapper-galeria-admin-metabox {
            text-align: left;
            .button {
                margin: 1rem 0;
            }

            .imagenes-galeria {
                margin: 4rem 0 2rem;
                display: flex;
                display: -o-flex;
                display: -ms-flex;
                display: -moz-flex;
                display: -webkit-flex;
                -webkit-align-items: center;
                -moz-align-items: center;
                -ms-align-items: center;
                -o-align-items: center;
                align-items: center;
                -webkit-flex-wrap:wrap;
                -moz-flex-wrap:wrap;
                -ms-flex-wrap:wrap;
                -o-flex-wrap:wrap;
                flex-wrap:wrap;

                li {
                    width: 150px;
                    height: 150px;
                    padding: .5rem;
                    position: relative;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: auto;
                    }

                    button {
                        position: absolute;
                        width: 1.5rem;
                        height: 1.5rem;
                        background: #333;
                        border: none;
                        color: #fff;
                        @include border-radius(50%);
                        cursor: pointer;
                        top: 1rem;
                        right: 1rem;
                        &:after {
                            content: 'X';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            @include transform(translate3D(-50%,-50%,0));
                        }

                        &:hover {
                            zoom: 1;
                            filter: alpha(opacity=70);
                            opacity: 0.7;
                          }
                    }
                }//li
            }//.imagenes-galeria
        }//.wrapper-galeria-admin-metabox

    }//.uk_partner_metabox_input_data_wrapper
}//.uk_partner_metabox_wrapper